@model EDI_prjct.Models.Fichier_EDI


@Html.Partial("_Sidebar")
@{
    ViewBag.Title = "Générer Le Fichier XML";
    ViewBag.Description = "Des Employées";

}
<div>
    <p>
        <hr />
        <hr />
        <hr />
        <div>

        </div>
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
    </p>
</div>
<div class="center-block">
    @Html.ActionLink("Generate XML", "GenerateXml", "Employe", new { @class = "btn btn-danger btn-lg btn-block" })
</div>