<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo ">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>E</b>LT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>EDI</b>LTE</span>
    </a>
    @* END Logo *@
    
</header>